{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>
        <li>
            You can start game with {{ game.player2 }} by click <a href="{{ path('play_game', { 'id': game.id }) }}">Play</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
