
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    
    	<header>
    	    <h3>About blog</h3>
    	</header>
    	<div id="content">
    		<article>
	    	    <fieldset>
   					<legend>Menu</legend>
			    	    <ul>
				    	    <li>All posts</li>
				    	    <li>About</li>
				    	    <li>Home/login</li>
			    	    </ul>
			    </fieldset>
	    	</article>
	    	<article>
	    	    <fieldset>
   					<legend>Guest</legend>
			    	    <ul>
				    	    <li>All posts</li>
				    	    <li>Login</li>
				    	    <li>Registration (Login->Registration)</li>
			    	    </ul>
			    </fieldset>
	    	</article>
	    	<article>
	    	    <fieldset>
		    	    <legend>User</legend>
		    	    <ul>
			    	    <li>All posts</li>
			    	    <li>Create posts; read, delete, update only his posts.(Home->Your Posts)</li>
			    	    <li>Edit profile (Home->Edit Profile)</li>
			    	    <li>Change Password (Home->Edit Profile->Change Password)</li>
			    	    <li>Logout (Home->logout)</li>
			    	</ul>
	    	    </fieldset>
	    	</article>
	    	<article>
	    	    <fieldset>
		    	    <legend>Admin</legend>
		    	    <ul>
			    	    <li>All posts</li>
			    	    <li>CRUD posts (Home->Your Posts)</li>
			    	    <li>CRUD users (Home->Users)</li>
			    	    <li>Edit profile (Home->Edit Profile)</li>
			    	    <li>Change Password (Home->Edit Profile->Change Password)</li>
			    	    <li>Logout (Home->logout)</li>
		    	    </ul>
		    	</fieldset>
	    	</article>
    	</div>
{% endblock %}
