
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About blog</h1>
    </header>
    <article>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ducimus, iste excepturi tempore quis blanditiis. Sint repudiandae quod, quaerat blanditiis libero amet, sapiente perferendis, neque molestias exercitationem expedita asperiores odit.
        </p>
    </article>
{% endblock %}