
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    
    	<header>
    	    <h3>About blog</h3>
    	</header>
    	<div id="content">
	    	<article>
	    	    <p>
	    	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ducimus, iste excepturi tempore quis blanditiis. Sint repudiandae quod, quaerat blanditiis libero amet, sapiente perferendis, neque molestias exercitationem expedita asperiores odit.
	    	    </p>
	    	</article>
    	</div>
{% endblock %}