{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <h3>Request list</h3> 
        <a href="{{ path('request_new', { 'id': list }) }}">Add new user to list</a> <br>   
             {% for request in requests %}
                Request for user: {{request.user}} <br>
                Status: {% if request.status %}Accept{% else %}Waiting{% endif %}
                    <ul>
                        <li>
                            <a href="{{ path('request_show', { 'id': request.id }) }}">show</a>
                        </li>
                    </ul>
             {% endfor %}
            <a href="{{ path('todolist_show', { 'id': list }) }}">Back to the list</a>
    </div>     
{% endblock %}
