{% extends "base.html.twig" %}

{% block body %}
<div id="content">
        <h3>Registration</h3>
        
        <div class="edit-form">
			{% include "FOSUserBundle:Registration:register_content.html.twig" %}
		</div>
</div>
{% endblock body %}
