{% extends "base.html.twig" %}

{% block body %}
<div id="content">
	<h3>Change password</h3>
	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>
{% endblock body %}
