
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 30px;
    height: 100px;
    background: #000;
    color: #fff;
}

h3 {
    margin-bottom: 20px; 
    border-bottom: 1px solid #ccc; 
    font-size: 24px; 
    color: #666; 
    line-height: 30px 
}

li {
    list-style-type: none;
}

legend {
    border-bottom: 1px solid #000;
}

    fieldset li {
        font-style: italic;
    }

#content, .wall-post {
    padding: 30px;
    margin-left: 20px;
    background: #EEEDE3;
}

#marker-list li {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
    font-style: italic;
}

.navbar-inverse {
    background: #222;
    border-radius: 0;
}

.navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    text-shadow: 2px 1px 1px #fff;
}

.edit-form input, .edit-form textarea {
    display: block;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.edit-form textarea {
    width: 80%;
    height: 250px;
}

.edit-form [type="submit"] {
    width: 150px;
    border-radius: 5px;
    background: #000;
    color: #fff;
}

.single-post {
    margin: 20px 0; 
    border-bottom: 1px solid #ccc; 
}

    li.single-post {
        list-style-type: none;
    }

.item li {
    display: inline-block;
    text-decoration: underline;
    color: #00f;
    font-style: italic;
}

.item li:first-child {
    margin-left: -20px;
}

.user-border {
    margin-top: 10px;
}

    .user-border span {
        border-radius: 5px;
        border: 1px double gray;
        padding: 5px;
        font-size: 1.8em;
        color: gray;
    }

.one-wall-post {
    margin-bottom: 20px;
}

.date {
    float: right;
    font-style: italic;
    color: gray;
}

.tab-content {
    margin-top: 20px;
}

.cross input {
    color: #f00;
    float: right;
    border-radius: 50%;
    border: 1px solid #f00;
}

.wall-img img {
    max-width: 100%;
}
