.date { 
	margin-bottom: 20px; 
	border-bottom: 1px solid #ccc; 
	font-size: 24px; 
	color: #666; 
	line-height: 30px 
}

.post { 
	margin-bottom: 20px; 
}

	.post img { 
		width: 190px; 
		float: left; 
		padding: 5px; 
		border: 1px solid #ccc; 
		margin: 0 10px 10px 0; 
	}

.post img.large { 
	width: 300px; 
	min-height: 165px; 
}
